body{
    background-color: #1E2129;
    font-family: 'Charm', cursive;
    font-family: 'Raleway', sans-serif;

}

#search-box{
    border: 1px solid #6E7585;
    border-radius: 2px;
}
#search-box input{
    color: #6E7585;
    border: none;
}
#search-box input:active, input:focus , .input-group-btn .btn{
    outline: none !important;
    box-shadow: none !important;
}
.input-group-btn .btn{
    border: none !important;
}

.carousel-item{
    height: 600px;
    width: 100%;
}
.carousel-img-1{
    background: url("../img/bg/aquaman_bg.jpg") center;
    background-size: cover;
}

.carousel-img-2{
    background: url("../img/bg/avengers-infinity-war-bg2.jpg") center;
    background-size: cover;
}
.carousel-img-3{
    background: url("../img/bg/Justice-League-bg.jpg") center;
    background-size: cover;
}
.carousel-img-4{
    background: url("../img/bg/the-100-bg.jpeg") center;
    background-size: cover;
}
.carousel-img-5{
    background: url("../img/bg/incredibles-2-bg.jpg") center;
    background-size: cover;
}
.carousel-caption a{
    color: #fff;
}
.carousel-caption a:hover{
    text-decoration: none;
    color: #8C8C8C;
}
.carousel-caption p{
    font-size: 15px;
}
